

<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We will be Happy to help you</p>
            <div class="row">
                <form action="/contact" method="POST">
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter your e-mail" name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter your password" name="password" >
                    </div>

                      <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Phone</label>
                        <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="enter your phone" name="phone">
                    </div>

                      <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Message</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="enter your password" name="pass">
                    </div>


                   
                     <button class="btn-style btn-primary mt-5" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>